body{
    
}

/* doc */
#doc {
    width: min(90vw,850px);
    margin: auto;
}
/* styles on section */
.section{

}

.topSection{

}

/* input */
input{
    border: 0px;
    color: inherit;
}

input.editable{
    border-bottom: solid gray 2px;
}

input:focus{
    outline: none;
    border-bottom: 2px solid black;
}

/* styles on an entry */
.entry{

}

.entry-start-date{

}

.entry-end-date{

}

.entry-desc{

}